<!DOCTYPE html>
<html>
  <head>
    <title>Add Category</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2>Add New Category</h2>
      <form action="/categories/new" method="POST">
        <p>
          <label for="categoryName">Category Name: </label>
          <input 
          type="text" 
          name="categoryName" 
          id="categoryName" 
          value="<%= locals.categoryName ? categoryName : "" %>" />
        </p>
        <p>
          <button type="button" onclick="window.location.href='/'">Quit</button>
          <button type="submit">Add Category</button>
        </p>
      </form>
      <%- include("partials/error.ejs") %>
    </main>
  </body>
</html>
