<!DOCTYPE html>
<html>
  <head>
    <title>Categories</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2>Categories</h2>
      <div>
        <% if(locals.categories && categories.length > 0) { %> <%
        categories.forEach(category => { %>
          <div>

            <a href="/categories/<%= category.id %>/players">
              <%=category.category_name %>
            </a>
            
            <a href="">Update</a>
          </div>
        <% }) %>
        <% } %>
      </div>
    </main>
  </body>
</html>
