<!DOCTYPE html>
<html>
  <head>
    <title>Delete Player</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2>Delete Player</h2>
      <form action="/players/<%=player.id%>/delete" method="POST">
        <p>
          <label for="playerName">Player Name: </label>
          <input
            type="text"
            name="playerName"
            id="playerName"
            value="<%= player.player_name %>"
            readonly
          />
        </p>
        <p>
          <label for="password">Admin Password: </label>
          <input type="password" name="password" id="password" />
        </p>

        <p>
          <button type="button" onclick="window.location.href='/players'">
            Quit
          </button>
          <button type="submit">Delete Player</button>
        </p>
      </form>
      <%- include("partials/error.ejs") %>
    </main>
  </body>
</html>
