<!DOCTYPE html>
<html>
  <head>
    <title>Goalventory</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <a href="/categories">Categories</a>
      <a href="/players">Players</a>
    </main>
  </body>
</html>
