<!DOCTYPE html>
<html>
  <head>
    <title>Goalventory</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include("partials/header") %>
    <main class="home-container">
      <a href="/categories">Categories</a>
      <a href="/players">Players</a>
    </main>
  </body>
</html>
