.player-container{
    flex-direction: column;
    gap: 1rem;
}

.player-container > div{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.player-card{
    background-color: #556B2F;
    padding: 2rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    color: #EFF5D2;
}

.player-card a{
    color: #EFF5D2;
    text-decoration: underline;
    font-size: 0.9rem;
}

.player-card > *:first-child{
    font-weight: bold;
}